@model dynamic
@{
    ViewBag.Title = "Query Examples";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Ingredients</td>
            </tr>
        </thead>
        @foreach (var row in (System.Data.Entity.DbSet<OptimizationDemo.Models.IceCream>)Model.IceCreams)
        {
        <tr>
            <td>
                @row.Name
            </td>
            <td>
                @row.Description
            </td>
            <td>
                <ul>
                    @foreach(var ingredient in row.Ingredients)
                    {
                    <li>@ingredient.Name</li>
                    }
                </ul>
            </td>
        </tr>
        }
    </table>

</div>
